.add {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.add .new-blog {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  width: 1024px;
}

.add .new-blog .content {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add .new-blog .content input {
  padding: 10px;
  border: 1px solid lightgray;
  font-size: 24px;
}

.editorContainer {
  height: 300px;
  overflow: auto;
}

.editorContainer .editor {
  height: 86%;
}

.add .new-blog .menu {
  flex: 2;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}

.add .new-blog .menu .item {
  border: 1px solid lightgray;
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: 12px;
  color: #555;
}

.add .new-blog .menu .item h1 {
  font-size: 20px;
  margin-bottom: 5px;
}

.add .new-blog .content .buttons {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 10px;
}

.add .new-blog .content .buttons button:first-child {
  cursor: pointer;
  color: var(--buttonColor);
  background-color: white;
  border: 1px solid var(--buttonColor);
  padding: 10px 15px;
  border-radius: 10px;
}

.add .new-blog .content .buttons button:last-child {
  cursor: pointer;
  color: white;
  background-color: var(--buttonColor);
  border: 1px solid var(--buttonColor);
  padding: 10px 15px;
  border-radius: 10px;
}

.add .new-blog .menu .item .cat {
  display: flex;
  align-items: center;
  gap: 2px;
  color: var(--buttonColor);
}
