.navbar {
  display: flex;
  justify-content: center;
  transition: all 0.8s;
}

.navbar .container {
  width: 1024px;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .container .logo img {
  width: 120px;
}

.container .links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.container .links .link {
  color: inherit;
  text-decoration: none;
  transition: all 1s ease-out;
}
.container .links .link:hover {
  text-decoration: underline wavy;
  text-underline-offset: 15px;
}

.container .links h6 {
  font-size: 16px;
  font-weight: 500;
}

.container .links span {
  cursor: pointer;
}

/* this will be shown in max-width:875px */
.container .write {
  cursor: pointer;
  background-color: var(--lightGreen);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 300;
  transition: all 0.5s;
  border: 1px solid white;
  display: none;
}

.container .write:hover {
  color: var(--buttonColor);
  background-color: #f3f3f3;
  border: 1px solid var(--buttonColor);
}

/* the code below is for write box */

.container .links .write {
  background-color: var(--lightGreen);
  font-size: 16px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  transition: all 0.5s;
  border: 1px solid white;
}

.container .links .write:hover {
  color: var(--buttonColor);
  background-color: #f3f3f3;
  border: 1px solid var(--buttonColor);
}

.container .links .user-circle {
  transform: scale(2.2);
  color: rgb(90, 90, 90);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  transition: all 1s;
}
.container .links .user-circle:hover {
  color: #222222;
}

.container .links .log-out {
  background-color: #ff6584;
  color: #f3f3f3;
  width: 75px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  transition: all 0.5s;
}
.container .links .log-out:hover {
  color: #ff6584;
  background-color: white;
}

.container .links .register-button {
  background-color: var(--buttonColor);
}

.container .links .register-button:hover {
  color: var(--buttonColor);
}

.hamburger-button {
  display: none;
  transform: scale(2.5);
  color: #333;
  cursor: pointer;
  transition: all 0.5s;
}

.hamburger-button:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 1030px) {
  .navbar .container {
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 875px) {
  .container .links {
    display: none;
  }

  .hamburger-button {
    margin-right: 60px;
    display: inline-block;
  }
  .container .write {
    display: flex;
  }
}

@media only screen and (max-width: 675px) {
  .hamburger-button {
    margin-right: 5px;
  }

  .container .write {
    margin-right: 90px;
  }
}

@media only screen and (max-width: 500px) {
  .navbar .container .logo img {
    width: 90px;
  }

  .container .write {
    width: 60px;
    height: 60px;
    font-size: 20px;
    margin-right: 80px;
  }
}
