.register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100vw;
  min-height: 110vh;
  position: relative;
  padding: 20px;
}

.register::before {
  content: "";
  position: absolute;
  right: 600px;
  border-radius: 50%;
  min-width: 1800px;
  min-height: 1500px;
  background: #b9e7e7;
  transform: translateY(-360px);
  z-index: -1;
  padding: 100px;
}

.form-image {
  width: 500px;
  font-size: 1.5rem;
  color: #000e2a;
  line-height: 45px;
}

.form-image img {
  width: 500px;
  position: relative;
  bottom: 130px;
  left: 50px;
}

.register-form {
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 250px;
}

.register-form .input-box {
  border: 1px solid #222222;
  margin-top: 20px;
  border-radius: 20px;
  padding: 5px;
}

.register-form .input-box label {
  font-size: 1.5rem;
  position: relative;
  top: 5px;
  left: 5px;
}

.register-form .input-box input {
  width: 350px;
  padding: 15px;
  border: none;
  outline: none;
  font-size: 24px;
  background-color: transparent;
}

.register-form .form-title {
  color: var(--buttonColor);
  font-size: 48px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.btn {
  padding: 15px 50px;
  background-color: var(--buttonColor);
  color: #f3f3f3;
  border: none;
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.5s;
}

.btn:hover {
  transform: scale(0.99);
}

.one-of-us h2 {
  margin-top: 25px;
  margin-left: 25px;
  width: 375px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 1 ease;
}

.one-of-us h2:hover {
  color: #000e2a;
  text-decoration: underline wavy;
  text-underline-offset: 15px;
}

.one-of-us button:hover {
  transform: scale(0.95);
}

@media only screen and (max-width: 1250px) {
  .form-image {
    width: 400px;
  }
  .form-image img {
    width: 350px;
  }
}

@media only screen and (max-width: 1050px) {
  .register {
    flex-direction: column-reverse;
    margin-top: 50px;
    gap: 50px;
  }
  .register-form {
    margin-bottom: 10px;
  }
  .form-image img {
    position: static;
  }
}

@media only screen and (max-width: 767px) {
  .register::before {
    content: "";
    position: absolute;
    right: 0px;
    top: 950px;
    min-width: 300px;
    min-height: 200px;
    background: #b9e7e7;
    z-index: -1;
  }

  .form-image {
    width: 300px;
    margin-top: 50px;
  }

  .form-image img {
    width: 300px;
  }

  .register-form {
    width: 300px;
  }

  .register-form .input-box {
    padding: 0px 10px 5px 10px;
  }

  .register-form .input-box input {
    width: 300px;
    padding: 3px;
    font-size: 16px;
  }
}
