.responsive-menu {
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  background-color: #f3f3f3;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.8s;
}

.responsive-menu .responsive-links {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 50px;
  transition: all 0.8s;
}
.responsive-menu .responsive-links .responsive-link {
  text-decoration: none;
  color: #333;
}

.responsive-menu .responsive-links .responsive-link:hover {
  text-decoration: underline wavy;
  text-underline-offset: 15px;
  text-decoration-color: var(--pink);
}

.responsive-menu .responsive-links .responsive-link h6 {
  font-size: 48px;
  font-weight: 500;
}

.responsive-menu .conditional-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  margin-top: 10px;
}

.conditional-buttons .responsive-log-out {
  background-color: #ff6584;
  color: #f3f3f3;
  width: 75px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  transition: all 0.5s;
}
.conditional-buttons .responsive-log-out:hover {
  color: #ff6584;
  background-color: white;
}

.conditional-buttons .responsive-register-button {
  background-color: var(--buttonColor);
}

.conditional-buttons .responsive-register-button:hover {
  color: var(--buttonColor);
}

.conditional-buttons .responsive-user-circle {
  transform: scale(2.5);
  position: relative;
  top: 5px;
}

.close-button {
  position: absolute;
  top: 60px;
  right: 60px;
  transform: scale(2.5);
  cursor: pointer;
  color: #333;
}
